@model ML.Materia
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Materia</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Ingrese los datos de la materia</h5>
        </div>
        <hr />
    </div>


    @using (Html.BeginForm("Form", "Materia", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @*@Html.ValidationSummary(false, "", new { @class = "text-danger" })*@

        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(model => Model.IdMateria, new { @class = "hidden" })
                @Html.TextBoxFor(model => Model.IdMateria, new { @class = "form-control hidden" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(model => Model.Nombre)
                @Html.TextBoxFor(model => Model.Nombre, new { @class = "form-control", @id="txtNombre", @onkeypress = "return SoloLetras(event, this)" })
                @Html.ValidationMessageFor(model => Model.Nombre, "", new { @class = "text-danger", @id="lblNombreErrorMessage" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(model => Model.Descripcion)
                @Html.TextBoxFor(model => Model.Descripcion, new { @class = "form-control",@id="txtDescripcion", @onkeypress = "return SoloLetras(event, this)" })
                @Html.ValidationMessageFor(model => Model.Descripcion, "", new { @class = "text-danger", @id= "lblDescripcionErrorMessage" })
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(model => Model.Creditos)
                @Html.TextBoxFor(model => Model.Creditos, "{0:#.#}", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => Model.Creditos)
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(model => Model.Costo)
                @Html.TextBoxFor(model => Model.Costo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => Model.Costo)

            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(model => Model.FechaInscripcion)
                @Html.TextBoxFor(model => Model.FechaInscripcion, new { @class = "form-control", @id = "txtFechaInscripcion" })
                @Html.ValidationMessageFor(model => Model.FechaInscripcion)

            </div>


        </div>

        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(model => Model.Semestre.Semestres)
                @Html.DropDownListFor(model => model.Semestre.IdSemestre, new SelectList(Model.Semestre.Semestres, "IdSemestre", "Nombre"), "Selecciona un semestre correspondiente", new { @class = "form-control" })
            </div>


        </div>



        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(model => Model.Imagen)
                @Html.HiddenFor(model => Model.Imagen)
                <input type="file" id="fuimgMateria" onchange="imgPreview(event);" name="imgMateria" />
                @if (Model.Imagen == null)
                {
                    <img id="imgMateria" src="~/Images/imageNoProductDefault.png" style="width:200px; height:200px;" />
                }
                else
                {
                    <img id="imgMateria" src="data:image/png;base64,@Convert.ToBase64String(Model.Imagen)" style="width:200px; height:200px;" />
                }

            </div>


        </div>

        <br />
        <div class="row">
            <div class="col-md-1">
                <input type="submit" data-toggle="modal" data-target="#modalValidacion" class="btn btn-success" value="Guardar" />
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Cancelar", "GetAll", "Materia", new { @class = "btn btn-danger" })
            </div>
        </div>

    }


</div>

@*<script src="~/Scripts/jquery-3.4.1.js"></script>*@
<script src="~/Scripts/Imagen_Usuario_Producto/PreviewImage.js"></script>
@*<script src="~/Scripts/Producto/Datepicker.js"></script>*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />


<script type="text/javascript">

    var j = jQuery.noConflict();

    j(function () {
        j("#txtFechaInscripcion").datepicker({
            dateFormat: 'dd-mm-yy',
            showOn: 'button',
            buttonImage: "../../Images/Calendar.png",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true

        });
        $(".ui-datepicker-trigger").css("width", "30px");
        $(".ui-datepicker-trigger").css("height", "30px");
    });

     
    //txtNombre   -> lblNombreErrorMessage
    //txtDescripcion -> lblDescripcionErrorMessage


    function SoloLetras(event, textbox) {
        var id = textbox.id;
        var input = event.key
        
        if (/^[a-zA-Z]+$/.test(input)) {
            return true
        }
        else {
            if (id == "txtNombre") {
                //lblNombreErrorMessage
                $("#lblNombreErrorMessage").text('Solo se permiten letras') //jQuery
                $("#txtNombre").css('border', '2px solid #a94442');

                //document.getElementById("lblNombreErrorMessage")
            }
            else
                if (id == "txtDescripcion") {
                   //lblDescripcionErrorMessage
                }
            return false
        }
    }



</script>
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" >
    Launch demo modal
</button>-->
<!-- Modal -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>-->
