@model ML.Materia
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Materia</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Ingrese los datos de la materia</h5>
        </div>
        <hr />
    </div>


    @using (Html.BeginForm("Form", "Materia", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(materia => Model.IdMateria, new { @class = "hidden" })
                @Html.TextBoxFor(materia => Model.IdMateria, new { @class = "form-control hidden" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(materia => Model.Nombre)
                @Html.TextBoxFor(materia => Model.Nombre, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(materia => Model.Creditos)
                @Html.TextBoxFor(materia => Model.Creditos, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(materia => Model.Costo)
                @Html.TextBoxFor(materia => Model.Costo, new { @class = "form-control" })
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(materia => Model.FechaInscripcion)
                @Html.TextBoxFor(materia => Model.FechaInscripcion, new { @class = "form-control" })
            </div>


        </div>

        <div class="row">
            <div class="col-md-6">
                @Html.LabelFor(materia => Model.Semestre.Semestres)
                @Html.DropDownListFor(model => model.Semestre.IdSemestre, new SelectList(Model.Semestre.Semestres, "IdSemestre", "Nombre"), "Selecciona un semestre correspondiente", new { @class = "form-control" })
            </div>


        </div>

        <br />
        <div class="row">
            <div class="col-md-1">
                <input type="submit" class="btn btn-success" value="Guardar" />
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Cancelar", "GetAll", "Materia", new { @class = "btn btn-danger" })
            </div>
        </div>

    }


</div>


