@model ML.Materia
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Materia</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1 col-md-offset-11">
            @Html.ActionLink("+", "Form", "Materia", htmlAttributes: new { @class = "btn btn-success" })
        </div>
    </div>


    @if (Model.Materias.Count > 0)
    {
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Editar</th>
                            <th class="hidden">IdMateria</th>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Creditos</th>
                            <th>Costo</th>
                            <th>Status</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (ML.Materia materia in Model.Materias)
                        {
                            <tr>
                                <td>
                                    <a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "Materia", new { IdMateria = materia.IdMateria })"></a>
                                </td>
                                <td class="hidden">@materia.IdMateria</td>

                                <td>
                                    @if (materia.Imagen != null)
                                    {
                                        <img src="data:image/png;base64,@Convert.ToBase64String(materia.Imagen)" width="100px" height="100px" />
                                    }
                                    else
                                    {
                                        <img src="https://liftlearning.com/wp-content/uploads/2020/09/default-image.png" width="100px" height="100px" />
                                    }

                                </td>
                                <td>@materia.Nombre</td>
                                <td>@materia.Creditos</td>
                                <td>@materia.Costo</td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox" onchange="UpdateStatus(@materia.IdMateria, this);">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                                <td>
                                    <a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Materia", new { IdMateria= materia.IdMateria})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"></a>
                                </td>


                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">No hay materias registradas. Da click en + para agregar una nueva materia</div>
    }

</div>





<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #da370a;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #00ff08;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #00ff08;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>

<script>
    function UpdateStatus(IdMateria, e) {

      //JS  getElemementById("txtFechaNacimiento")
      //jQuery $(".btn")


        var Status = e.checked



        // peticiones del lado del servidor

            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateStatus")',
                dataType: 'json',
                data: { IdMateria, Status},
                success: {},
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
        }


</script>